[alias]
    co = checkout
    br = branch
    ci = commit
    st = status
    wt = worktree
[user]
    name = {{ .name }}
    email = {{ .email }}
[core]
    excludesfile = ~/.gitignore
    editor = /usr/bin/vim
[pull]
    rebase = true
[init]
    defaultBranch = main
[diff]
    colorMoved = default
[merge]
    conflictstyle = diff3
[rerere]
    enabled = true
[url "https://x-token-auth:{{ .bitbucket_token }}@bitbucket.org/"]
    insteadOf = https://bitbucket.org/