{
  "theme": "dark",
  "voice": {
    "enabled": true,
    "mode": "hold"
  },
  "attribution": {
    "commit": "",
    "pr": "",
    "sessionUrl": false
  },
  "statusLine": {
    "type": "command",
    "command": "~/.claude/statusline-command.sh"
  },
  "permissions": {
    "deny": [
      "Read(~/.ssh/**)",
      "Read(~/.config/chezmoi/**)",
      "Read(./.env)",
      "Read(./.env.*)"
    ]
  },
  "plansDirectory": ".claude/plans",
  "worktree": {
    "baseRef": "fresh"
  },
  {{ if env "FIGMA_ACCESS_TOKEN" -}}
  "env": {
    "FIGMA_ACCESS_TOKEN": "{{ env "FIGMA_ACCESS_TOKEN" }}"
  },
  {{ end -}}
  "hooks": {
    "Stop": [
      {
        "hooks": [
          {
            "type": "command",
            "command": "[ -n \"$TMUX\" ] && printf '\\a' > $(tmux display-message -p '#{pane_tty}')"
          }
        ]
      }
    ],
    "Notification": [
      {
        "hooks": [
          {
            "type": "command",
            "command": "[ -n \"$TMUX\" ] && printf '\\a' > $(tmux display-message -p '#{pane_tty}')"
          }
        ]
      }
    ]
  },
  "enabledPlugins": {
    "rust-analyzer-lsp@claude-plugins-official": false,
    "superpowers@claude-plugins-official": true,
    "code-review@claude-plugins-official": true
  }
}
